# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
.venv/
*.env

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
.ruff_cache/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Other
*.pyc
.DS_Store
